.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("https://p0.pikist.com/photos/140/309/pizza-background-food-snack-mass-pizzeria.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 70%;
}
